/*
 * navbar
 * reproduces android material style
 */
.navbar {
 background-color: #009688;
 height: 80px;
}
.navbar.container {
 color: #E5FFE0;
 position:fixed;
 top:0;
 z-index:1; /* make sure no other element overlap the navbar */
}
.navbar.left {
 float: left;
 width: 80px;
 text-align: center;
}
.navbar.right {
 padding-right: 3px;
 float: right;
}
.navbar.middle {
 padding-top: 10px;
 height: auto;
 width: 0; /* init to 0 else may expand into several lines on load */
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.navbar.icon {
 margin: -6px;
 margin-top: 4px;
 padding: 15px; /* big padding to have a nice big circle on animation */
 height: 40px;
 -webkit-transition: background-color 0.5s ease-out; /* filter transition to background-color only to avoid side effects */
 transition: background-color 0.5s ease-out;
 background-color: none;
 border-radius: 40px;
}
.navbar.icon.ng-click-active {
 -webkit-transition: 0s ease-out;
 background-color: #888888;
 transform: rotate(360deg);
}
